.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid #000;
  width: 200px;
  font-size: 16px;
  border-radius: 8px;
  height: 34px;
  padding: 8px;
}

.label {
  color: #fff;
  font-size: 16px;

  & + .input {
    margin-top: 4px;
  }
}
